@import "../../styles/main.scss";

.about-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  @include tablet {
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 50px;
    margin-top: 130px;
  }

  .about-grid-item {
    border-radius: $border-radius;

    &.headshot {
      width: 100%;
      height: auto;
      box-shadow: $box-shadow;
    }

    &.tags {
      color: $light-color;
      padding-top: 25px;

      @include tablet {
        padding-top: 0;
      }
    }

    &.about-text {
      @include tablet {
        grid-column: 1 / 3;
      }
    }
  }
}
