::selection {
  background: #62e6ac;
}
::-moz-selection {
  background: #62e6ac;
}

body {
	font-family: priori-sans, sans-serif;
}

iframe {
	border-width: 0px;
	border-style: none;
}

#page-content {
	margin-top: 146px;
	background-color: #fff;
	width: calc(100% - 40px);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

h1 {
	font-size: 2em;
}