#nav-bar {
	height: 126px;
	background-color: $white;
	border-bottom: 3px solid $black;
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 46px);
	z-index: 998;
	
	a.logo-link {
		text-decoration: none;
		display: inline-block;
		
		.logo {
			width: 120px;
			height: 60px;
			border: 3px solid $black;
			margin-left: -3px;
			font-style: normal;
			font-weight: 700;
			
			h1 {
				color: $black;
				font-size: 60px;
				margin-left: 7px;
			}
		}

		.flex {
			display: flex;
			margin: -3px;

			.door {
				width: 40px;
				height: 60px;
				background-color: $black;
				border: 3px solid $black;
				position: relative;
	
				.knob {
					width: 8px;
					height: 8px;
					background-color: $white;
					border-radius: 100%;
					position: absolute;
					bottom: 27px;
					right: 6px;
				}
			}
		}
	}
	
	@media (hover) {
		a.logo-link:hover > .flex .door {
			background-color: $main;
			transition: 0.2s ease-in-out;
		}
		
		a.logo-link:hover > .flex .door .knob {
			background-color: $black;
			transition: 0.2s ease-in-out;
		}	
	}
	
	ul#nav-bar-ul {
		float: right;
		margin-top: 45px;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		z-index: 999;
		
		li {
			display: none;
			margin-right: 40px;

			@include tablet {
				display: inline;
			}
			
			a {
				text-decoration: none;
				color: $black;
				position: relative;
			}
		}
	}

	.responsive {
		position: absolute;
		top: 84px;
		left: 0;
		background-color: #fff;
		width: 100%;
		height: calc(100vh - 166px);
		z-index: 998;
	}

	ul#nav-bar-ul.responsive li {
		float: none;
		display: block;
		margin: 0 auto;
		text-align: center;
		padding-top: 20px;
	}
	
	.underline::before {
		content: "";
		width: 0;
		top: 20px;
		left: -10px;
		position: absolute;
		border-bottom: 20px solid $main;
		transition: all 0.3s ease-in-out;
		z-index: -1;	
	}
	
	@media (hover) {
		.underline:hover::before {
			transform: scale(1);
			width: 130%;
		}
	}
	
	.active-underline::before {
		content: "";
		width: 130%;
		top: 20px;
		left: -10px;
		position: absolute;
		border-bottom: 20px solid $main;
		z-index: -1;
	}
	
	.show-on-mobile {
        @include tablet {
            display: none;
        }
	}
	
	.nav-bar-icon {
        display: block;
		float: right;
		margin-right: 20px;
        margin-top: 40px;
        
        @include tablet {
            display: none;
        }
	}
}