/*
	IMPORTS
	////////////////////////////////////////////////////////////////////////////
*/

@import "reset";
@import "global";
@import "colors"; 

/*
	PAGE BORDERS
	////////////////////////////////////////////////////////////////////////////
*/

#page-borders {
	.border {
		background-color: inherit;
		transition: 0.3s ease-in-out;
	}
	
	.green-border {
		background-color: $main;
	}
	
	.los-dos-border {
		background-color: #ffbbbb;
	}
	
	.tb-border {
		background-color: #febe11;
	}
	
	.gemini-border {
		background-color: #0FA5A1;
	}
	
	#top {
		position: fixed;
		top: 0;
		left: 0;
		height: 20px;
		width: 100%;
		z-index: 999;
		
		#top-border {
			width: calc(100% - 40px);
			border-bottom: 3px solid $black;
			position: fixed;
			left: 50%;
			top: 20px;
			transform: translateX(-50%);
			z-index: 999;
		}
	}
	
	#right {
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: 20px;
		z-index: 999;
		
		#right-border {
			height: calc(100vh - 40px);
			border-left: 3px solid $black;
			position: fixed;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			z-index: 999;
		}
	}
	
	#bottom {
		position: fixed;
		bottom: 0;
		right: 0;
		height: 20px;
		width: 100%;
		z-index: 999;
		
		#bottom-border {
			width: calc(100% - 41px);
			border-top: 3px solid $black;
			position: fixed;
			left: 50%;
			bottom: 20px;
			transform: translateX(-50%);
			z-index: 999;
		}
	}
	
	#left {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 20px;
		z-index: 999;
		
		#left-border {
			height: calc(100vh - 40px);
			border-right: 3px solid $black;
			position: fixed;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
			z-index: 999;
		}
	}
}

/*
	NAVBAR STYLING
	////////////////////////////////////////////////////////////////////////////
*/

#nav-bar {
	position: absolute;
	left: 50%;
	top: 20px;
	transform: translateX(-50%);
	width: calc(100% - 46px);
	height: 126px;
	background-color: $white;
	border-bottom: 3px solid $black;
	z-index: 998;
	
	a.logo-link {
		text-decoration: none;
		color: inherit;
		display: inline-block;
		
		.logo {
			font-style: normal;
			font-weight: 700;
			
			h1 {
				font-size: 60px;
				margin-left: 7px;
			}
		}
		
		#firstName {
			width: 120px;
			height: 60px;
			border: 3px solid $black;
			margin-left: -3px;
			display: block;
		}
		
		#lastName {
			width: 120px;
			height: 60px;
			border: 3px solid $black;
			margin-left: -3px
		}
		
		ul#logo-list {
			list-style: none;
			float: left;
			margin-top: -3px;
			
			li {
				display: inline-block;
				vertical-align: middle;
				position: relative;	
				
				.door {
					width: 40px;
					height: 60px;
					background-color: $black;
					border: 3px solid $black;
					margin-left: -3px;
				}
				
				.knob {
					width: 8px;
					height: 8px;
					background-color: $white;
					border-radius: 100%;
					position: absolute;
					bottom: 27px;
					right: 6px;
				}
			}
		}
	}
	
	@media (hover) {
		a.logo-link:hover > ul#logo-list li .door {
			background-color: $main;
			transition: 0.2s ease-in-out;
		}
		
		a.logo-link:hover > ul#logo-list li .knob {
			background-color: $black;
			transition: 0.2s ease-in-out;
		}	
	}
	
	ul#nav-bar-ul {
		list-style: none;
		display: inline-block;
		float: right;
		margin-top: 45px;
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		
		li {
			display: inline;
			margin-right: 40px;
			
			a {
				text-decoration: none;
				color: $black;
				position: relative;
			}
		}
	}
	
	.underline::before {
		content: "";
		width: 0;
		top: 20px;
		left: -10px;
		position: absolute;
		border-bottom: 20px solid $main;
		transition: all 0.3s ease-in-out;
		z-index: -1;	
	}
	
	@media (hover) {
		.underline:hover::before {
			transform: scale(1);
			width: 130%;
		}
	}
	
	.active-underline::before {
		content: "";
		width: 130%;
		top: 20px;
		left: -10px;
		position: absolute;
		border-bottom: 20px solid $main;
		z-index: -1;
	}
	
	.mobile-only {
		display: none;
	}
	
	.nav-bar-icon {
		float: right;
		margin-right: 20px;
		margin-top: 40px;
		display: none;
	}
}

/*
	HOME PAGE
	////////////////////////////////////////////////////////////////////////////
*/

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 400px 400px 400px;
	margin-bottom: 20px;
	
	.grid-item {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 3px solid $black;
		background-color: $white;
		position: relative;
		
		img {
			display: none;
			margin-top: 40px;
		}
		
		.company-title {
			color: $black;
			background-color: $white;
			border: 3px solid $black;
			border-radius: 0 0 25px 0;
			padding: 10px 20px;
			margin: -3px;
			font-style: normal;
			font-weight: 700;
			font-size: 24px;
			position: absolute;
			top: 0px;
			left: 0;
		}
	}
	
	#grid-item-1 {
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		transition: 0.3s ease-in-out;
	}
	
	#grid-project-1 {
		width: 100%;
		max-width: 500px;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
	}
	
	@media (hover) {
		#grid-item-1:hover {
			background-color: $gemini;
		}
		
		#grid-item-1:hover > img#grid-project-1 {
			display: block;
		}
		
		#grid-item-1:hover > .hidden {
			display: none;
		}
	}

	#grid-item-2 {
		grid-column: 3 / 4;
		grid-row: 1 / 3;
		margin-left: -3px;
		transition: 0.3s ease-in-out;
	}
	
	#grid-project-2 {
		width: 100%;
		max-width: 175px;
		height: auto;
	}
	
	@media (hover) {
		#grid-item-2:hover {
			background-color: $losdos;
		}
	
		#grid-item-2:hover > img#grid-project-2 {
			display: block;
		}
		
		#grid-item-2:hover > .hidden {
			display: none;
		}
	}
	
	#grid-item-3 {
		grid-column: 1 / 2;
		grid-row: 2 / 4;
		margin-top: -3px;
	}
	
	#grid-project-3 {
		width: 100%;
		max-width: 350px;
		height: auto;
	}
	
	@media (hover) {
		#grid-item-3:hover {
			background-color: $choibap;
		}
	
		#grid-item-3:hover > img#grid-project-3 {
			display: block;
		}
		
		#grid-item-3:hover > .hidden {
			display: none;
		}
	}
	
	#grid-item-4 {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		margin: -3px 0 0 -3px;
		transition: 0.3s ease-in-out;
		padding: 0 20px;
	}
	
	#grid-project-4 {
		width: 100%;
		max-width: 350px;
		height: auto;
	}
	
	@media (hover) {
		#grid-item-4:hover {
			background-color: $sandbox;
		}
		
		#grid-item-4:hover > img#grid-project-4 {
			display: block;
		}
		
		#grid-item-4:hover > .hidden {
			display: none;
		}
	}
	
	#grid-item-5 {
		grid-column: 2 / 4;
		grid-row: 3 / 4;
		margin: -3px 0 0 -3px;
		transition: 0.3s ease-in-out;
		padding: 0 20px;
	}
	
	#grid-project-5 {
		width: 100%;
		max-width: 500px;
		height: auto;
		border-radius: 10px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
	}
	
	@media (hover) {
		#grid-item-5:hover {
			background-color: $targetbase;
		}
		
		#grid-item-5:hover > img#grid-project-5 {
			display: block;
		}
		
		#grid-item-5:hover > .hidden {
			display: none;
		}
	}
}