@import "../../../styles/main.scss";

.detailed-project-container {
  margin: 0 50px;
  margin-top: 100px;
  .project-details-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;

    .project-details-grid-item {
      border-radius: $border-radius;
      padding: 25px;

      .project-git-link {
        &.link {
          &::after {
            width: 100%;
          }

          &:hover {
            &::after {
              width: 50%;
            }
          }
        }
      }

      &.info {
        background-color: $dark-medium-color;
      }

      &.stack {
        .filter-tag-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .filter-tag {
            font-size: 18px;
            margin: 0 25px 25px 0;
            padding: 10px;
            background-color: $light-color;
            border-radius: $border-radius;
          }
        }
      }
    }
  }
  footer {
    &.project-nav-links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
      margin: 50px 0;

      .project-nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        position: relative;
        padding: 50px 0;
        transition: 0.3s ease-in-out;

        &:hover {
          box-shadow: $box-shadow;
        }

        &.previous {
          &::before {
            content: "<--";
            font-size: 36px;
            color: $light-color;
            margin-right: 10px;
          }
        }

        &.next {
          &::after {
            content: "-->";
            font-size: 36px;
            color: $light-color;
            margin-left: 10px;
          }
        }

        h1 {
          color: $light-color;
        }
      }
    }
  }
}
