@import "../../styles/main.scss";

.projects-container {
  transition: transform 0.25s;
  will-change: transform;

  .content-grid {
    height: 700px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 150px 25px 100px 25px;

    @include tablet {
      height: 100vh;
      flex-direction: row;
      margin: 0;
    }

    .content {
      width: 100%;
      text-align: center;

      @include tablet {
        width: 50%;
        margin: 0 50px;
      }

      h1 {
        text-align: left;
      }

      .filter-tag-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .filter-tag {
          font-size: 18px;
          margin: 25px 25px 0 0;
          padding: 10px;
          background-color: $dark-medium-color;
          border-radius: $border-radius;
        }
      }

      .project-link {
        float: left;
        margin-top: 50px;

        &.link {
          &::after {
            width: 100%;
          }

          &:hover {
            &::after {
              width: 50%;
            }
          }
        }
      }
    }

    #col-right {
      padding-bottom: 100px;
      border-bottom: 1px solid $dark-medium-color;

      @include tablet {
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

.content-grid:first-child {
  margin: 50px 25px;

  @include tablet {
    margin: 0;
  }
}

.proj-img {
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-bottom: 25px;

  @include tablet {
    min-width: 400px;
    margin-bottom: 0;
  }
}
