@import "../../../styles/colors";
@import "../../../styles/baseStyles";

.loading-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;

  .loading-icon {
    width: 100%;
    height: 100%;
    background-color: $dark-light-color;
    border-radius: $border-radius;
  }
}
